* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #006A50;
    --primary-light: #F5F5F5;
    --dark: #0E0E0E;
    --muted: #535353;
    --card: #F1F1F3;
    --border: #006A50;
    --radius: 0.5rem
}

body {
    font-family: "Fira Sans", sans-serif;
    color: var(--dark);
    background: var(--primary-light);
    line-height: 1.5rem;
    scroll-behavior: smooth;
}

.btn {
    padding: 0.9rem 1.8rem;
    border: 1px solid var(--primary);
    font-size: 1.12rem;
    font-weight: 600;
    color: var(--primary);
    border-radius: var(--radius);
    cursor: pointer;
}

/* HEADER SECTION */
header {
    /* border: 1px solid red; */
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10rem;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
}

/* HERO SECTION */
.hero {
    max-width: 80rem;
    margin: 0 auto;
    padding: 3.75rem;
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1.5rem;
}

.hero-content {
    max-width: 38rem;
}

.hero-content h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--muted);
}

.hero-content h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
}

.hero-content .btn {
    flex-direction: column;
    /* border: 1px solid red; */
    background-color: var(--primary);
    color: #fff;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.hero-content .btn:hover {
    background-color: #005842;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.hero-img {
    width: 25rem;
    height: auto;
}

/* Pillars of "Bangladesh 2.0" */
.pillars {
    max-width: 80rem;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 5rem;
}

.pillars h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.grid {
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.card {
    /* border: 1px solid red; */
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid #bdbcbc;
}

.card img {
    width: 3.8rem;
    height: 3.8rem;
    margin-bottom: 1.5rem;
    object-fit: cover;

}

.card h4 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    color: var(--muted);
    font-weight: bold;
}

.card p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--muted);
}


/* The Vision of Future */
.vision {
    /* border: 1px solid red; */
    max-width: 80rem;
    margin: 5rem auto 0;
    /* margin-top: 5rem; */
}

.vision-content {
    margin: 1rem;
    padding: 1rem;
}

.vision-content h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    line-height: 2.5rem;
}

.vision-content p {
    color: var(--muted);
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.vision-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
    justify-items: center;
}

.vision-card {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 2rem;
    color: var(--muted);
    height: 100%;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.vision-card img {
    width: 4rem;
    height: auto;
    margin-bottom: 1.25rem;
}

.vision-card h4 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.vision-card p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.vision-card > .btn {
    margin-top: auto;
    align-content: end;
    padding: 1rem;
    width: 8.6rem;
    border: none;
}

.vision-card:nth-child(1) {
    background-color: hsla(218, 89%, 65%, 0.20);
}

.vision-card:nth-child(1) > .btn {
    background-color: #5490F5;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.vision-card:nth-child(1) > .btn:hover {
    background-color: #4d83e0;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.vision-card:nth-child(2) {
    background-color: #C6E4D6;
}

.vision-card:nth-child(2) > .btn {
    background-color: #09A15C;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.vision-card:nth-child(2) > .btn:hover {
    background-color: #088f52;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.vision-card:nth-child(3) {
    background-color: #F7EBCF;
}

.vision-card:nth-child(3) > .btn {
    background-color: #FFC239;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.vision-card:nth-child(3) > .btn:hover {
    background-color: #fcbf30;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}


/* QUOTE */
.quote {
    /* border: 1px solid red; */
    max-width: 80rem;
    margin: 5rem auto 0;
    /* margin-top: 5rem; */
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    color: var(--muted);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.quote > img {
    position: absolute;
    /* margin-top: 1.5rem; */
}

.quote blockquote > p {
    line-height: 1.5rem;
    margin-top: 2rem;
    /* color: red; */
    margin-bottom: 0.75rem;
}

.author {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;
    /* border: 1px solid green; */
}

/* RESPONSIVE */
/* Medium → Small (sm < 768px) */
@media only screen and (max-width: 767.8px) {
    /* HEADER SECTION */
    header {
        padding: 1rem 5rem;
    }

    header>.btn {
        padding: 0.5rem 0.9rem;
        font-size: 1rem;
        font-weight: 500;
    }

    header h1 {
        font-size: 1.5rem;
        margin: 0;
        word-wrap: unset;
    }

    /* HERO SECTION */
    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        /* object-fit: cover; */
    }

    .hero-img img {
        width: 25rem;
        height: auto;
        margin-bottom: 1.5rem;

    }

    .hero-content {
        max-width: 38rem;
        text-align: center;
    }

    .hero-content h4 {
        font-size: 1.2rem;
        margin-bottom: 0.8rem;
    }

    .hero-content h2 {
        /* border: 1px solid red; */
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: center;
    }

    .hero-content > .btn {
        font-size: 1rem;
        padding: 0.9rem 1.4rem;
    }

    /* Pillars of "Bangladesh 2.0" */
    .pillars {
        margin: 3rem 1rem;
    }

    .pillars h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .grid {
        /* border: 1px solid green; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

    }

    .card h4 {
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
        color: var(--muted);
        font-weight: bold;
    }
}

/* Small → Extra small (< 576px) */
@media only screen and (max-width: 575.8px) {
    /* HEADER SECTION */
    header {
        padding: 1rem 2rem;
    }

    /* HERO SECTION */
    .hero-img img {
        width: 80%;
        height: auto;
        margin: 0 auto 1.5rem auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .hero-content h4 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .hero-content h2 {
        /* border: 1px solid red; */
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .hero-content > .btn {
        font-size: 0.7rem;
        padding: 0.5rem 1rem;
    }

    /* Pillars of "Bangladesh 2.0" */
    .pillars {
        margin: 3rem 1rem;
    }

    .pillars h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .grid {
        /* border: 1px solid green; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;

    }
}
