* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #006A50; 
    --primary-light: #F5F5F5; 
    --dark: #0E0E0E; 
    --muted: #2e2e2e; 
    --card: #F1F1F3; 
    --border: #006A50; 
    --radius: 0.5rem
}

body {
    font-family: "Fira Sans", sans-serif;
    color: var(--dark);
    background: var(--primary-light);
    line-height: 1.5rem;
}

/* HEADER SECTION */
header {
    border: 1px solid red;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10rem;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
}

header button {
    padding: 0.9rem 1.8rem;
    border: 1px solid var(--primary);
    font-size: 1.12rem;
    font-weight: 600;
    color: var(--primary);
    border-radius: var(--radius);
    cursor: pointer;
}